<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard | Noti</title>
        <!-- link ICONS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        />
        <!-- FAVICON -->
        <link rel="icon" href="img/favicon.ico" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap"
            rel="stylesheet"
        />
        <!-- LINK CSS -->
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
        <!-- HEADER -->
        <header>
            <figure class="logo">
                <img src="../img/logo/Logo2.svg" alt="logo" />
            </figure>
            <nav>
                <ul>
                    <div class="user">
                        <li>
                            <a href="#" class="logout">
                                <span class="noneUser">Logout</span>
                                <img
                                    src="../img/logout.png"
                                    alt="logout icon"
                                />
                            </a>
                        </li>
                    </div>
                    <div>
                        <li><a href="#">WARUM NOTI</a></li>
                        <li><a href="#">FUNKTIONEN</a></li>
                        <li><a href="#">FÜR TEAMS</a></li>
                        <li><a href="#">HILFE</a></li>
                    </div>
                </ul>
            </nav>
        </header>
        <!-- MAIN -->
        <main class="mainDash grid">
            <section>
                <div class="head">
                    <h1>Servus <span>Ana</span></h1>
                    <button type="submit">+ neue Notiz</button>
                </div>
                <div class="notes">
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                </div>
            </section>
        </main>
        <!-- FOOTER -->
        <footer>
            <section>
                <figure class="logo">
                    <img src="../img/logo/IconVerde.svg" alt="logo" />
                    <span>NOTI</span>
                </figure>
                <div class="socialMedia">
                    <ul>
                        <li>
                            <a href="#" target="_blank"
                                ><i class="fa-brands fa-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"
                                ><i class="fa-brands fa-instagram"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"
                                ><i class="fa-brands fa-twitter"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </section>
            <hr />
            <div class="legalInfo">
                <p>© 2023 Noti Corporation. Alle Rechte vorbehalten.</p>
                <nav>
                    <ul>
                        <li><a href="#">Sicherheit</a></li>
                        <li><a href="#">Rechtliche Hinweise</a></li>
                        <li><a href="#">Datenschutz</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </body>
</html>
