<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
        <title>Registrieren | Noti</title>
        <!-- FAVICON -->
        <link rel="icon" href="../img/favicon.ico" />
        <!-- LINK CSS -->
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
        <main class="loginRegister grid">
            <div class="back"><img src="../img/arrow.png" alt=""><a href="/">Zurück</a></div>
            <section class="formStyles">
                <div class="head">
                    <div class="logo">
                        <figure>
                            <img
                                src="../img/logo/IconVerde.svg"
                                alt="icon green"
                            />
                        </figure>
                        <span>NOTI</span>
                    </div>
                    <p>Merke dir alle wichtigen Dinge.</p>
                </div>
                <form>
                    <input type="text" autocomplete="off" name="username" id="username" placeholder="Name" />
                    <input type="email" autocomplete="off" name="email" id="email" placeholder="E-Mail" />
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Passwort"
                    />
                    <button type="submit" id="register">Registrieren</button>
                </form>
                <p>
                    Hast du bereits ein Konto?
                    <a href="/login">Anmelden</a>
                </p>
            </section>
        </main>
        <!-- JS -->
        <script src="../app.js"></script>
    </body>
</html>
