<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="<%= locals.description %>" />
        <title><%= locals.title %></title>
        <!-- FAVICON -->
        <link rel="icon" href="/img/favicon.ico" />
        <!-- LINK CSS -->
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <!-- START CONTENT -->
        <section class="errorLayout">
            <div class="errorSeite">
                <div class="prueba">
                    <figure>
                        <img class="imgXL" src="/img/404.png" alt="404 Seite nicht gefunden" />
                        <img class="imgSM" src="/img/404Small.png" alt="404 Seite nicht gefunden" />
                    </figure>
                    <div class="text">
                        <h1>hoppla! Seite nicht gefunden.</h1>
                        <p>Du musst dich für die falsche Tür entschieden haben, denn ich kann die Seite nicht finden, nach der du suchst.</p>
                        <button type="button"><a href="/">Startseite</a></button>
                    </div>
                </div>
            </div>
        </section>
        <!-- END CONTENT -->
    </body>
</html>
