<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self'"
        />
        <meta name="description" content="<%= locals.description %>" />
        <title><%= locals.title %></title>
        <!-- FAVICON -->
        <link rel="icon" href="../img/favicon.ico" />
        <!-- LINK CSS -->
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
        <!-- START HEADER -->
        <%- include('partials/header_dashboard') %>
        <!-- END HEADER -->

        <!-- START MAIN -->
        <main class="mainDash grid" id="mainDashboard">
            <!-- <section>
                <div class="head">
                    <h1>Servus <span id="userName"></span></h1>
                    <button type="button" id="noteForm">+ neue Notiz</button> 
                    <button type="button">
                        <a href="/dashboard/create-note" id="noteForm">+ neue Notiz</a>
                    </button>
                no se si el bottun va con el A link 
                </div>
                <div class="notes" id="notesContainer">
                   <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div>
                    <div class="note">
                        <h2>Notiz Title</h2>
                        <p>
                            Beschreibung... Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Magni quaerat optio
                            quasi, dolore ducimus alias vero tempora, fugiat sed
                            nulla molestiae fugit sint exercitationem omnis
                            deserunt soluta labore eius. Veniam!
                        </p>
                    </div> 
                </div>
            </section> -->
        </main>
        <!-- END MAIN -->

        <!-- START FOOTER -->
        <%- include('partials/footer') %>
        <!-- END FOOTER -->

        <!-- JS LINK -->
        <script src="../js/headerAnimation.js"></script>
        <script src="../js/notes/dashboard.js"></script>
    </body>
</html>
