<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
        <meta name="description" content="<%= locals.description %>" />
        <title><%= locals.title %></title>
        <!-- FAVICON -->
        <link rel="icon" href="/img/favicon.ico" />
        <!-- LINK CSS -->
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <main class="loginRegister grid">
            <div class="back"><img src="/img/arrow.png" alt="arrow image" /><a href="/">Zurück</a></div>
            <section class="formStyles" id="changePassContainer">
                <div class="head">
                    <div class="logo">
                        <figure>
                            <img src="/img/logo/IconVerde.svg" alt="icon green" />
                        </figure>
                        <span>NOTI</span>
                    </div>
                </div>
                <div class="changePassForm">
                    <h1 class="h1ChangePass">Passwort zurücksetzen?</h1>
                    <p class="textChange">Bitte nenne E-Mail-Adresse aus der Anmeldung zum Noti Konto, damit wir deine Identität überprüfen.</p>
                    <p class="textChange">Wir werden dir eine E-Mail senden, mit deren Hilfe du dein Passwort zurücksetzen kannst.</p>
                    <form id="formEmailValidate">
                        <input type="email" name="emailValidate" id="emailValidate" class="inputStyles allInputs" autofocus />
                        <div class="message error"></div>
                        <button type="submit" id="btnEmail">E-Mail überprüfen</button>
                    </form>
                </div>
            </section>
        </main>
        <!-- END MAIN -->

        <!-- JS -->
        <script type="module" src="/js/users/forgotPassword.js"></script>
    </body>
</html>
