<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
        <meta name="description" content="<%= locals.description %>" />
        <title><%= locals.title %></title>
        <!-- FAVICON -->
        <link rel="icon" href="../img/favicon.ico" />
        <!-- LINK CSS -->
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
        <!-- START HEADER -->
        <%- include('partials/header_dashboard') %>
        <!-- END HEADER -->

        <!-- START MAIN -->
        <main class="mainNote grid">
            <section>
                <h1>Notiz hinzufügen</h1>
                <form name="newNote">
                    <div class="emptyError error"></div>
                    <!-- <div class="categories">
                        <label for="hohe" class="hohe"> <input type="radio" name="category" value="hohe" id="hohe" required /> hohe Priorität</label>
                        <label for="mittlere" class="mittlere"> <input type="radio" name="category" value="mittlere" required /> mittlere Priorität</label>
                        <label for="niedrige" class="niedrige"> <input type="radio" name="category" value="niedrige" required /> niedrige Priorität</label>
                    </div> -->
                    <input type="text" id="titel" placeholder="Titel" class="allInputs" />
                    <textarea id="description" cols="30" rows="14" placeholder="Beschreibung. . ." class="allInputs"></textarea>
                    <button type="submit">+ Hinzufügen</button>
                </form>
                <a href="/dashboard" class="abbrechen">Abbrechen</a>
            </section>
        </main>
        <!-- END MAIN -->

        <!-- START FOOTER -->
        <%- include('partials/footer') %>
        <!-- END FOOTER -->

        <!-- JS LINK -->
        <script src="../js/headerAnimation.js"></script>
        <script src="../js/notes/createNote.js"></script>
    </body>
</html>
