@import '../utilities/mixins';
@import '../utilities/maps';
@import '../utilities/variables';
.formStyles {
    background-color: map-get($map: $colors, $key: bg-color-2);
    @include measures(40%);
    border-radius: 0.3rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    @include grid(center, center, 3rem);
    padding: 3rem 0;
    p {
        font-weight: map-get($map: $font-weight, $key: light);
        font-size: 1.2rem;
        text-align: center;
        a {
            display: block;
            padding: 1rem 0;
            color: map-get($map: $colors, $key: btn);
            font-size: 1.3rem;
            transition: 0.5s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    .head {
        .logo {
            text-align: center;
            padding-bottom: 1.3rem;
            figure {
                padding-bottom: 0.7rem;

                img {
                    @include measures(4rem);
                }
            }
            span {
                font-size: 1.6rem;
                font-weight: map-get($map: $font-weight, $key: bold);
                letter-spacing: 0.8rem;
            }
        }
    }
    form {
        @include flex(false, false, 1.3rem, column);
        @include measures(80%);
        input {
            padding: 1rem;
            font-size: $fsize-primary;
            border-radius: 0.3rem;
            border: 1.5px solid #d5d6b7;
            transition: 0.5s;
            outline: none;
            &:focus {
                border: 1.5px solid #919537;
                box-shadow: 0px 2px 18px rgba(145, 149, 55, 0.4);
            }
        }
        button {
            border: none;
            padding: 1rem 0;
            background-color: rgba(145, 80, 31, 0.411);
            border-radius: 0.2rem;
            color: #743607;
            transition: 0.8s ease-in-out;
            &:hover {
                background-color: transparent;
                border: 0.099rem solid #743607;
            }
        }
    }
}
