@import '../utilities/mixins';
@import '../utilities/maps';

*,
*::after,
*::before {
    box-sizing: border-box;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
// main spinner
.spinner {
    @include measures(9.3rem, 9.3rem);
    @include flex(center, center);
    overflow: hidden;
    position: relative;
    margin: 10rem auto 0 auto;
    z-index: 1;
    svg {
        cursor: auto;
    }
    &::after,
    &::before {
        content: '';
        position: absolute;
        @include measures(90%, 90%);
        border-radius: 50%;
        border: 0.5rem solid transparent;
        mix-blend-mode: overlay;
        animation: rotate var(--duration) var(--timing) infinite;
        pointer-events: none;
        z-index: 2;
    }
    &::before {
        border-left-color: rgb(7, 80, 35);
        --duration: 2s;
        --timing: ease-in;
        z-index: 2;
    }
    &::after {
        border-right-color: rgb(39, 198, 39);
        --duration: 2.5s;
        --timing: ease-out;
        z-index: 2;
    }
}

// spinner 2
.spinner2 {
    @include measures(2.7rem, 2.7rem);
    @include flex(center, center);
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-right: 5rem;
    svg {
        cursor: auto;
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        @include measures(100%, 100%);
        border-radius: 50%;
        border: 0.3rem solid transparent;
        mix-blend-mode: overlay;
        animation: rotate var(--duration) var(--timing) infinite;
        pointer-events: none;
        z-index: 2;
    }
    &::before {
        border-left-color: rgb(7, 80, 35);
        --duration: 2s;
        --timing: ease-in;
        z-index: 2;
    }
    &::after {
        border-right-color: rgb(39, 198, 39);
        --duration: 2.5s;
        --timing: ease-out;
        z-index: 2;
    }
}
