@import '../utilities/mixins';
@import '../utilities/maps';

.errorLayout {
    @include grid(center, center);
    .errorSeite {
        text-align: center;
        .text {
            @include measures(30rem);
            line-height: 1.7rem;
            h1 {
                padding-bottom: 1.2rem;
                font-size: 1.9rem;
            }
            p {
                padding-bottom: 1.2rem;
                font-size: 1.1rem;
            }
            button {
                margin-top: 1rem;
                a {
                    padding: 0.8rem 4rem;
                    @include mainBtn;
                }
            }
        }
    }
    @media only screen and (max-width: 79rem) {
        .errorSeite {
            @include grid(center, center, 1.3rem);
            width: 100%;
            text-align: center;
            figure {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .text {
                margin-bottom: 3rem;
                p {
                    padding: 0 1.2rem;
                }
                button {
                    margin-top: 1.7rem;
                }
            }
        }
    }
    @media only screen and (min-width: 79.01rem) {
        .errorSeite {
            padding-top: 2rem;
            position: relative;
            .text {
                position: absolute;
                top: 22rem;
                left: 48rem;
                button {
                    margin-top: 1rem;
                }
            }
        }
    }
}
