@import '../utilities/mixins';
@import '../utilities/maps';

.mainDash {
    @include measures(100%, auto);
    @include grid(center);
    padding: 4rem 0;
    .firstNote {
        @include animationDash;
        width: 50%;
        max-width: 60rem;
        .servus {
            h1 {
                font-size: 3rem;
            }
        }
        .createNote {
            text-align: center;
            @include flex(false, false, 1.5rem, column);
            figure {
                img {
                    @include measures(25rem, auto);
                }
            }
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
                font-weight: map-get($map: $font-weight, $key: light);
                a {
                    font-size: 1.4rem;
                    font-weight: map-get($map: $font-weight, $key: regular);
                    color: map-get($map: $colors, $key: btn);
                    &:hover {
                        color: map-get($map: $colors, $key: link);
                    }
                }
            }
        }
    }
    .renderNotes {
        @include animationDash;
        max-width: 80rem;
        box-shadow: inset 0px 2px 50px 2px rgba(145, 149, 55, 0.3);
        &::after {
            filter: blur(2.7rem);
        }
        .head {
            @include measures(86%, auto);
            @include grid(false, center, 1rem);
            h1{
                justify-self: start;
            }
            .options {
                justify-self: end;
                @include flex(false, center, 1.6rem);
                svg {
                    fill: map-get($map: $colors, $key: btn);
                    &:hover {
                        fill: map-get($map: $colors, $key: link);
                    }
                }
                .dropDownSort {
                    width: 230px;
                    height: 160px;
                    p {
                        font-size: 1rem;
                    }
                }
                .dropDownFilter {
                    width: 170px;
                    height: 190px;
                    p {
                        font-size: 1.1rem;
                    }
                }
                .dropDownSort,
                .dropDownFilter {
                    display: none;
                    top: 6.5rem;
                    padding: 1rem;
                    position: absolute;
                    background-color: map-get($map: $colors, $key: bg-color-2);
                    box-shadow: 0px 2px 10px 2px map-get($map: $colors, $key: link);
                    border-radius: 0.5rem;
                    z-index: 999;
                    p {
                        margin-bottom: 0.9rem;
                    }
                    select {
                        background-color: map-get($map: $colors, $key: bg-color-2);
                        font-size: 0.9rem;
                        padding: 0.5rem 0.1rem;
                        border: none;
                        outline: none;
                        border-radius: 0.3rem;
                        @include border(0.094rem, map-get($map: $colors, $key: bg-color-1));
                        &:focus {
                            @include border(0.094rem, map-get($map: $colors, $key: link));
                            box-shadow: 0px 2px 18px rgba(145, 149, 55, 0.7);
                        }
                    }
                }
                button {
                    a {
                        @include border(0.123rem, map-get($map: $colors, $key: btn));
                        padding: 0.5rem 2rem;
                        background-color: map-get($map: $colors, $key: btn);
                        border-radius: 0.2rem;
                        color: #ffffff;
                        outline: 1px solid;
                        outline-color: map-get($map: $colors, $key: btn);
                        outline-offset: 0px;
                        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
                        &:hover {
                            background-color: transparent;
                            @include border(0.123rem, map-get($map: $colors, $key: btn));
                            color: map-get($map: $colors, $key: btn);
                            outline-color: rgba(255, 255, 255, 0);
                            outline-offset: 0.938rem;
                        }
                    }
                }
            }
        }
        .notes {
            display: grid;
            grid-auto-rows: auto;
            justify-items: center;
            align-items: center;
            gap: 1.3rem;
            max-width: 70rem;
        }
    }
    @media only screen and (max-width: 47rem) {
        .renderNotes {
            width: 90%;
        }
        .notes {
            grid-template-columns: 1fr;
        }
        .head {
            @include measures(93%, auto);        
            .options {
                button {
                    a {
                        #newNoteText {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 47rem) {
        .renderNotes {
            width: 90%;
        }
        .notes {
            @include measures(80%, auto);
        }
        .head , .notes {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media only screen and (min-width: 60rem) {
        .notes {
            grid-template-columns: repeat(3, 1fr);
            @include measures(90%, auto);
        }
    }
    @media only screen and (min-width: 79rem) {
        .notes {
            grid-template-columns: repeat(4, 1fr);
            @include measures(100%, auto);
        }
    }
}
