@import '../utilities/mixins';
@import '../utilities/maps';
.mainEdit {
    @include measures(100%, auto);
    @include grid(center);
    padding: 4rem 0;
    section {
        @include flex(false, false, 1.5rem, column);
        @include measures(50%);
        max-width: 70rem;
        div {
            @include flex(space-between);
            button {
                @include border(0.106rem, map-get($map: $colors, $key: delete));
                padding: 0.5rem 2rem;
                background-color: #743607;
                border-radius: 0.2rem;
                color: map-get($map: $colors, $key: base-2);
                transition: all 0.5s;
                &:hover {
                    background-color: transparent;
                    @include border(
                        0.106rem,
                        map-get($map: $colors, $key: delete)
                    );
                    color: map-get($map: $colors, $key: delete);
                }
            }
        }
        form {
            @include flex(false, false, 1.5rem, column);
            input,
            textarea {
                @include input;
            }
            button {
                @include measures(20rem);
                @include border(
                    0.129rem,
                    map-get($map: $colors, $key: btn)
                );
                padding: 1rem 0;
                background-color:map-get($map: $colors, $key: bg-color-2);
                border-radius: 0.2rem;
                color: map-get($map: $colors, $key: btn);
                transition: all 0.5s;
                &:hover {
                    background-color: transparent;
                    @include border(
                        0.129rem,
                        map-get($map: $colors, $key: link)
                    );
                }
            }
        }
    }
}
