@import '../utilities/mixins';
@import '../utilities/maps';
.mainHome {
    @include measures(100%, auto);
    @include grid(center, false, 3rem);
    padding: 3rem 0;
    .servus {
        @include measures(60%);
        h2 {
            font-size: 3rem;
            color: map-get($map: $colors, $key: btn);
        }
    }
    .createNote {
        text-align: center;
        @include flex(false, false, 1.5rem, column);
        figure {
            img {
                @include measures(25rem, auto);
            }
        }
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
            font-weight: map-get($map: $font-weight, $key: light);
            a {
                font-size: 1.4rem;
                font-weight: map-get($map: $font-weight, $key: regular);
                color: map-get($map: $colors, $key: btn);
                &:hover {
                    color: map-get($map: $colors, $key: link);
                }
            }
        }
    }
}
