@import '../utilities/mixins';
@import '../utilities/maps';

.mainIndex {
    @include measures(100%, auto);
    @include flex(center, center, 1rem, column);
    padding: 3rem 0 0 0;
    .mainContent {
        max-width: 75rem;
        @include flex(center, center, 2rem, column);
        font-size: 1.5rem;
        h1 {
            line-height: 4rem;
            text-align: center;
            padding: 0 1.5rem;
        }
        p {
            @include measures(75%);
            line-height: 2rem;
            text-align: center;
        }
        button {
            margin: 2rem;
            a {
                padding: 1.3rem 4rem;
                font-weight: map-get($map: $font-weight, $key: regular);
                @include mainBtn;
            }
        }
        .plogin {
            a {
                font-weight: map-get($map: $font-weight, $key: light);
                text-decoration: underline;
                font-size: 1.3rem;
            }
        }
    }
    .faq {
        max-width: 118rem;
        @include flex(space-between, center, 2.5rem);
        padding: 6rem;
        text-align: center;
        @include measures(100%, auto);
        figure {
            img {
                @include measures(30rem, auto);
            }
        }
        h2 {
            padding-bottom: 1rem;
        }
        .accordion {
            padding: 0 2rem;
        }
        .accorItem {
            border-bottom: 0.11rem solid map-get($map: $colors, $key: btn);
            .accorTitle {
                width: 90%;
            }
            button {
                position: relative;
                display: block;
                text-align: left;
                font-size: 1rem;
                @include measures(100%);
                padding: 1.5rem 0;
                color: map-get($map: $colors, $key: btn);
                font-weight: map-get($map: $font-weight, $key: medium);
                border: none;
                outline: none;
                &:hover,
                &:focus {
                    color: map-get($map: $colors, $key: link);
                }
                .icon {
                    display: inline-block;
                    position: absolute;
                    top: 1.125rem;
                    right: 0;
                    @include measures(1.375rem, 1.375rem);
                    border: 0.06rem solid;
                    border-radius: 50%;
                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        background: currentColor;
                    }
                    &::before {
                        top: 0.5625rem;
                        left: 0.3125rem;
                        width: 0.625rem;
                        height: 0.125rem;
                    }
                    &::after {
                        top: 0.3125rem;
                        left: 0.5625rem;
                        width: 0.125rem;
                        height: 0.625rem;
                    }
                }
            }
            button[aria-expanded='true'] {
                border-bottom: 0.11rem solid map-get($map: $colors, $key: link);
                .icon::after {
                    width: 0;
                }
                + .accorContent {
                    opacity: 1;
                    max-height: 9rem;
                    transition: all 200ms linear;
                }
            }
            .accorContent {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: opacity 200ms linear, max-height 200ms linear;
                p {
                    line-height: 1.5rem;
                    font-weight: map-get($map: $font-weight, $key: light);
                    margin: 2rem 0;
                    text-align: left;
                }
            }
        }
    }
    @media only screen and (max-width: 60rem) {
        .faq {
            padding: 0;
            @include flex(center, center, 4rem, column);
            figure {
                img {
                    @include measures(25rem, auto);
                }
            }
            .accorItem {
                button {
                    @include flex(space-between, center, 1rem);
                }
            }
        }
    }
    @media only screen and (min-width: 60.01rem) and (max-width: 87rem) {
        .faq {
            max-width: 88rem;
            gap: 0.5rem;
            padding: 1rem;
            figure {
                padding-left: 1rem;
                img {
                    @include measures(20rem, auto);
                }
            }
            .accorItem {
                button {
                    @include flex(space-between, center, 1rem);
                }
            }
        }
    }
}
