// Font Family
$font: 'Josefin Sans', sans-serif;
$fsize-SM: 1rem;
$fsize-primary: 1.1rem;
$fsize-mainBtn: 1.2rem;
$fsize-second: 1.3rem;
$fsize-header1: 3rem;
$fsize-header2: 2rem;
// Color Collection
$base-color: black;
$base-color-2: white;
$primary-color-1: #3F4E09;
$primary-color-2: #919537;
$neutral-color-1: #d5d6b7;
$neutral-color-2: #F0F1EC;
$accent-color: #A87651;
$delete-btn: #743607;
$error: red;
