@import '../utilities/mixins';
@import '../utilities/maps';

header {
    @include flex(space-between, center);
    padding: 2rem 6rem;
    .logo {
        @include measures(8rem);
    }
    nav {
        ul {
            @include flex(false, false, 1.3rem, column);
            div {
                @include flex(flex-end, false, 1.3rem);
            }
            .menu {
                li {
                    a {
                        font-weight: map-get($map: $font-weight, $key: light);
                    }
                }
            }
            .user {
                li {
                    a {
                        &:hover {
                            fill: map-get($map: $colors, $key: link);
                        }
                        @include flex(false, center, 0.4rem);
                    }
                }
            }
        }
    }
}
.is-sticky {
    position: sticky;
    top: 0;
    background-color: map-get($map: $colors, $key: bg-color-1);
    transition: 0.3s all;
    box-shadow: 0 1px 20px map-get($map: $colors, $key: btn);
    z-index: 999;
}
