@import '../utilities/mixins';
@import '../utilities/maps';

header {
    @include flex(space-between, center);
    padding: 2rem 6rem;
    .logo {
        @include measures(6rem);
    }
    svg {
        color: map-get($map: $colors, $key: btn);
        &:hover {
            fill: map-get($map: $colors, $key: link);
        }
    }

    nav {
        ul {
            @include flex(false, false, 1.3rem, column);
            div {
                @include flex(flex-end, center, 1.3rem);
            }
            .menu {
                li {
                    a {
                        font-weight: map-get($map: $font-weight, $key: light);
                        &:hover {
                            color: map-get($map: $colors, $key: link);
                        }
                    }
                }
            }
        }
    }
    .user,
    .navDash {
        li {
            a {
                @include flex(false, center, 0.3rem);
                &:hover {
                    color: map-get($map: $colors, $key: link);
                    svg {
                        fill: map-get($map: $colors, $key: link);
                    }
                }
            }
        }
    }
    .navDash {
        position: absolute;
        display: none;
        @include measures(13rem, 9rem);
        top: 8.56rem;
        right: 0;
        background-color: map-get($map: $colors, $key: bg-color-1);
        box-shadow: 0 1px 20px map-get($map: $colors, $key: btn);
        border-radius: 0.3rem;
        padding: 1rem;
    }
    .navDash.active {
        display: block;
    }
    #menuBars {
        display: none;
    }
    @media only screen and (max-width: 56rem) {
        padding: 2rem;
        #menuBars {
            display: block;
        }
        .noneUser {
            display: none;
        }
        .menu {
            position: fixed;
            flex-direction: column;
            top: -280px;
            left: 5%;
            width: 90%;
            transition: all 0.5s;
            background-color: map-get($map: $colors, $key: bg-color-1);
            box-shadow: 0 1px 20px map-get($map: $colors, $key: btn);
            padding: 2rem 0;
            border-radius: 0.2rem;
            li {
                width: 80%;
                border-bottom: 1px solid map-get($map: $colors, $key: link);
                @include flex(center, false);
                padding-bottom: 0.8rem;
            }
        }
        .menu.show {
            transform: translateY(164%);
        }
    }
}
.headerDash {
    box-shadow: 0 1px 20px map-get($map: $colors, $key: btn);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: map-get($map: $colors, $key: bg-color-1);
    padding-right: 3rem;
}
.is-sticky {
    position: sticky;
    top: 0;
    background-color: map-get($map: $colors, $key: bg-color-1);
    transition: 0.3s all;
    box-shadow: 0 1px 20px map-get($map: $colors, $key: btn);
    z-index: 2;
}
